<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Cadastro de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="formDados(fc)">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="cliente.nome" name="nome" type="text" color="light" required ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="cliente.email" name="email" type="email" color="light" required email></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="cliente.pws" name="pws" type="password" color="light" required minlength="6" #pws="ngModel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Senha</ion-label>
    <ion-input [(ngModel)]="confPws" name="confPws" type="password" color="light" required minlength="6" #conf="ngModel"></ion-input>
  </ion-item>

 
    <ion-note color="danger" item-end>
      <p *ngIf="pws.value != conf.value"> Senhas diferentes </p>
    </ion-note>

  <ion-button type="submit" [disabled] = "!fc.valid" color="danger">Salvar</ion-button>
  <ion-button type="reset" color="danger">Cancelar</ion-button>
</form>
</ion-content>

