<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Registro de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let c of clientes">
    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="remover(c)">
        <ion-label>
          Remover
        </ion-label>
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=retro">
      </ion-avatar>
      <ion-label>{{ c.nome }}</ion-label>
      <ion-text>{{ c.email }}</ion-text>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="success" expandable (click)="atualizar(c)">
        Atualizar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
